<a href="https://colab.research.google.com/github/raz0208/Agritech-Pest-Prediction/blob/main/Agritech_Pest_Prediction_and_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Agritech Pest Prediction and Classification

### Import required libraries and read the data

In [8]:
# Import required libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# Read data
Capture_Chart_Cicalino_1 = pd.read_csv('/content/AgritechPestDataset/Capture_Chart(Cicalino_1).csv')
Capture_Chart_Cicalino_2 = pd.read_csv('/content/AgritechPestDataset/Capture_Chart(Cicalino_2).csv')
Capture_Chart_Imola_1 = pd.read_csv('/content/AgritechPestDataset/Capture_Chart(Imola_1).csv')
Capture_Chart_Imola_2 = pd.read_csv('/content/AgritechPestDataset/Capture_Chart(Imola_2).csv')
Capture_Chart_Imola_3 = pd.read_csv('/content/AgritechPestDataset/Capture_Chart(Imola_3).csv')
Historical_Weather_Data_Cicalino_1 = pd.read_csv('/content/AgritechPestDataset/Historical_Weather_Data(Cicalino_1).csv')
Historical_Weather_Data_Cicalino_2 = pd.read_csv('/content/AgritechPestDataset/Historical_Weather_Data(Cicalino_2).csv')
Historical_Weather_Data_Imola_1 = pd.read_csv('/content/AgritechPestDataset/Historical_Weather_Data(Imola_1).csv')
Historical_Weather_Data_Imola_2 = pd.read_csv('/content/AgritechPestDataset/Historical_Weather_Data(Imola_2).csv')
Historical_Weather_Data_Imola_3 = pd.read_csv('/content/AgritechPestDataset/Historical_Weather_Data(Imola_3).csv')

In [15]:
# Showing first rows of each file for Cicalino
print("** Capture Chart Cicalino 1 ** \n",Capture_Chart_Cicalino_1.head(), "\n")
print("** Capture Chart Cicalino 2 ** \n",Capture_Chart_Cicalino_2.head(), "\n")
print("** Historical Weather Data Cicalino 1 ** \n",Historical_Weather_Data_Cicalino_1.head(), "\n")
print("** Historical Weather Data Cicalino 2 ** \n",Historical_Weather_Data_Cicalino_2.head(), "\n")

** Capture Chart Cicalino 1 **
            Catch chart         Unnamed: 1               Unnamed: 2 Unnamed: 3  \
0             DateTime  Number of insects  New catches (per event)   Reviewed
1  06.07.2024 06:01:00                  0                        0         Si
2  07.07.2024 06:04:00                  0                        0         Si
3  08.07.2024 06:03:00                  0                        0         Si
4  09.07.2024 06:05:00                  0                        0         Si

  Unnamed: 4
0      Event
1        NaN
2        NaN
3        NaN
4        NaN

** Capture Chart Cicalino 2 **
            Catch Chart         Unnamed: 1                Unnamed: 2  \
0             DateTime  Number of insects  New Catches (per evento)
1  05.07.2024 11:31:01                  0                         0
2  06.07.2024 03:02:01                  0                         0
3  07.07.2024 03:04:01                  0                         0
4  08.07.2024 03:01:01                  0                         0

  Unnamed: 3 Unnamed: 4
0   Reviewed      Event
1         Si        NaN
2         Si        NaN
3         Si        NaN
4         Si        NaN

** Historical Weather Data Cicalino 1 **
   Historical Weather Data           Unnamed: 1         Unnamed: 2 Unnamed: 3  \
0                DateTime  Average Temperature  Temperature Range        NaN
1                     NaN                  NaN                low       high
2     05.07.2024 15:00:00                31,65               31,1       32,2
3     05.07.2024 16:00:00                31,45                 31       32,2
4     05.07.2024 17:00:00                31,66               31,2       32,1

         Unnamed: 4
0  Average Humidity
1               NaN
2             37,08
3             33,55
4             34,98

** Historical Weather Data Cicalino 2 **
   Historical Weather Data           Unnamed: 1         Unnamed: 2 Unnamed: 3  \
0                DateTime  Average Temperature  Temperature Range        NaN
1                     NaN                  NaN                low       high
2     11.07.2024 01:00:00                   17                 17         17
3     11.07.2024 02:00:00                16,32               15,7       16,9
4     11.07.2024 03:00:00                15,47               15,4       15,6

         Unnamed: 4
0  Average Humidity
1               NaN
2              86,6
3             86,83
4             87,32

In [16]:
# Showing first rows of each file for Imola
print("** Capture Chart Imola 1 ** \n",Capture_Chart_Imola_1.head(), "\n")
print("** Capture Chart Imola 2 ** \n",Capture_Chart_Imola_2.head(), "\n")
print("** Capture Chart Imola 3 ** \n",Capture_Chart_Imola_3.head(), "\n")
print("** Historical Weather Data Imola 1 ** \n",Historical_Weather_Data_Imola_1.head(), "\n")
print("** Historical Weather Data Imola 2 ** \n",Historical_Weather_Data_Imola_2.head(), "\n")
print("** Historical Weather Data Imola 3 ** \n",Historical_Weather_Data_Imola_3.head(), "\n")

** Capture Chart Imola 1 **
            Catch chart         Unnamed: 1              Unnamed: 2 Unnamed: 3  \
0             DateTime  Number of Insects  New Catch (per evento)    Reviwed
1  30.07.2024 22:01:00                  0                       0         Si
2  31.07.2024 22:03:00                  0                       0         Si
3  01.08.2024 22:01:00                  0                       0         Si
4  02.08.2024 22:03:00                  0                       0         Si

  Unnamed: 4
0      Event
1        NaN
2        NaN
3        NaN
4        NaN

** Capture Chart Imola 2 **
            Catch Chart         Unnamed: 1                Unnamed: 2  \
0             DateTime  Number of Insects  New Catches (per evento)
1  31.07.2024 00:00:00                  0                         0
2  01.08.2024 00:01:00                  0                         0
3  02.08.2024 00:03:00                  0                         0
4  03.08.2024 00:00:00                  0                         0

  Unnamed: 3 Unnamed: 4
0   Reviewed      Event
1         Si        NaN
2         Si        NaN
3         Si        NaN
4         Si        NaN

** Capture Chart Imola 3 **
            Catch Chart         Unnamed: 1                Unnamed: 2  \
0             DateTime  Number of Insects  New Catches (per evento)
1  17.08.2024 00:02:00                  0                         0
2  18.08.2024 00:04:00                  0                         0
3  19.08.2024 00:00:00                  0                         0
4  20.08.2024 00:02:00                  1                         1

  Unnamed: 3 Unnamed: 4
0    Reviwed      Event
1         Si        NaN
2         Si        NaN
3         Si        NaN
4         Si        NaN

** Historical Weather Data Imola 1 **
   Historical Weather Data           Unnamed: 1         Unnamed: 2 Unnamed: 3  \
0                DateTime  Average Temperature  Temperature Range        NaN
1                     NaN                  NaN                low       high
2     30.07.2024 12:00:00                34,98               34,8       35,1
3     30.07.2024 13:00:00                35,08               34,8       35,3
4     30.07.2024 14:00:00                35,14               34,8       35,5

         Unnamed: 4
0  Average Humidity
1               NaN
2             35,38
3             33,89
4             33,49

** Historical Weather Data Imola 2 **
   Historical Weather Data           Unnamed: 1         Unnamed: 2 Unnamed: 3  \
0                DateTime  Average Temperature  Temperature Range        NaN
1                     NaN                  NaN                low       high
2     30.07.2024 17:00:00                33,64               33,5         34
3     30.07.2024 18:00:00                33,25               32,9       33,5
4     30.07.2024 19:00:00                32,69               30,9       33,4

         Unnamed: 4
0  Average Humidity
1               NaN
2             35,86
3             34,76
4             33,67

** Historical Weather Data Imola 3 **
   Historical Weather Data           Unnamed: 1         Unnamed: 2 Unnamed: 3  \
0                DateTime  Average Temperature  Temperature Range        NaN
1                     NaN                  NaN                low       high
2     30.07.2024 12:00:00                   34               33,6       34,4
3     30.07.2024 13:00:00                34,32               34,1       34,7
4     30.07.2024 14:00:00                34,38               33,9       34,8

         Unnamed: 4
0  Average Humidity
1               NaN
2             36,44
3             34,62
4             34,43

In [17]:
# Rename columns using the first row as header and drop the old header row

# Fix Capture Chart data for Cicalino
Capture_Chart_Cicalino_1.columns = Capture_Chart_Cicalino_1.iloc[0]  # Set first row as header
Capture_Chart_Cicalino_1 = Capture_Chart_Cicalino_1[1:].reset_index(drop=True)  # Remove first row

# Fix Historical Weather Data for Cicalino
Capture_Chart_Cicalino_1

,DateTime,Number of insects,New catches (per event),Reviewed,Event
0,06.07.2024 06:01:00,0,0,Si,NaN
1,07.07.2024 06:04:00,0,0,Si,NaN
2,08.07.2024 06:03:00,0,0,Si,NaN
3,09.07.2024 06:05:00,0,0,Si,NaN
4,09.07.2024 06:13:59,NaN,NaN,Si,Cleaning
5,10.07.2024 06:03:00,0,0,Si,NaN
6,11.07.2024 06:01:00,0,0,Si,NaN
7,12.07.2024 06:05:00,0,0,Si,NaN
8,13.07.2024 06:02:00,0,0,Si,NaN
9,14.07.2024 06:01:00,1,1,Si,NaN
10,15.07.2024 06:04:00,1,0,Si,NaN
11,16.07.2024 06:03:00,2,1,Si,NaN
12,16.07.2024 06:12:59,NaN,NaN,Si,Cleaning
13,17.07.2024 06:02:00,1,1,Si,NaN
14,18.07.2024 06:01:00,1,0,Si,NaN
15,19.07.2024 06:04:00,1,0,Si,NaN
16,20.07.2024 06:02:00,1,0,Si,NaN
17,20.07.2024 06:11:59,NaN,NaN,Si,Cleaning
18,21.07.2024 06:02:00,1,1,Si,NaN
19,22.07.2024 06:00:00,2,1,Si,NaN
20,23.07.2024 06:04:00,0,0,Si,NaN
21,24.07.2024 06:02:00,0,0,Si,NaN
22,25.07.2024 06:01:00,1,1,Si,NaN
23,26.07.2024 06:01:00,1,0,Si,NaN
24,27.07.2024 06:05:00,1,0,Si,NaN
25,28.07.2024 06:03:00,3,2,Si,NaN
26,28.07.2024 06:12:59,NaN,NaN,Si,Cleaning
27,29.07.2024 06:04:00,0,0,Si,NaN
28,30.07.2024 06:02:00,0,0,Si,NaN
29,31.07.2024 06:00:00,0,0,Si,NaN
30,01.08.2024 06:04:00,0,0,Si,NaN
31,02.08.2024 06:03:00,0,0,Si,NaN
32,02.08.2024 06:12:59,NaN,NaN,Si,Cleaning
33,03.08.2024 06:03:00,0,0,Si,NaN
34,03.08.2024 06:13:59,NaN,NaN,Si,Cleaning
35,04.08.2024 06:04:00,0,0,Si,NaN
36,05.08.2024 06:01:00,0,0,Si,NaN
37,06.08.2024 06:00:00,1,1,Si,NaN
38,07.08.2024 06:04:00,1,0,Si,NaN
39,08.08.2024 06:03:00,1,0,Si,NaN
40,09.08.2024 06:01:00,1,0,Si,NaN
41,09.08.2024 06:10:59,NaN,NaN,Si,Cleaning
42,10.08.2024 06:00:00,0,0,Si,NaN
43,11.08.2024 06:04:00,0,0,Si,NaN
44,12.08.2024 06:03:00,0,0,Si,NaN
45,13.08.2024 06:03:00,0,0,Si,NaN
46,14.08.2024 06:01:00,0,0,Si,NaN
47,15.08.2024 06:00:00,0,0,Si,NaN
48,15.08.2024 06:10:59,NaN,NaN,Si,Cleaning
49,16.08.2024 06:00:00,0,0,Si,NaN
50,17.08.2024 06:04:00,0,0,Si,NaN
51,18.08.2024 06:03:00,0,0,Si,NaN
52,19.08.2024 06:02:00,0,0,Si,NaN
53,20.08.2024 06:00:00,0,0,Si,NaN
54,21.08.2024 06:03:00,0,0,Si,NaN
55,21.08.2024 06:12:59,NaN,NaN,Si,Cleaning
56,22.08.2024 06:04:00,0,0,Si,NaN
57,23.08.2024 06:03:00,0,0,Si,NaN

In [ ]:
# Rename columns using the first row as header and drop the old header row

# Fix Capture Chart data for Imola

# Fix Historical Weather Data for Imola